---
import { Icon } from 'astro-icon/components';
---

<div class="p-8">
  <form class="space-y-6">
    <div>
      <label
        for="username"
        class="block text-sm font-medium text-brand-dark mb-1">Username</label
      >
      <div class="relative">
        <span
          class="absolute inset-y-0 left-0 pl-3 flex items-center text-brand-light"
        >
          <Icon name="mdi:account" size={23} />
        </span>
        <input
          type="text"
          id="username"
          class="w-full pl-10 pr-4 py-2 border border-brand-light/50 rounded-lg focus:outline-none focus:ring-2 focus:ring-brand-main focus:border-transparent transition-all placeholder-brand-light/70 text-brand-dark bg-gray-50/50"
          placeholder="username"
        />
      </div>
    </div>

    <div>
      <div class="flex items-center justify-between mb-1">
        <label for="password" class="block text-sm font-medium text-brand-dark"
          >Password</label
        >
      </div>
      <div class="relative">
        <span
          class="absolute inset-y-0 left-0 pl-3 flex items-center text-brand-light"
        >
          <Icon name="mdi:lock" size={23} />
        </span>
        <input
          type="password"
          id="password"
          class="w-full pl-10 pr-4 py-2 border border-brand-light/50 rounded-lg focus:outline-none focus:ring-2 focus:ring-brand-main focus:border-transparent transition-all placeholder-brand-light/70 text-brand-dark bg-gray-50/50"
          placeholder="••••••••"
        />
      </div>
    </div>

    <button
      type="button"
      onclick="window.location.href='/profile'"
      class="w-full bg-brand-main text-white font-semibold py-2.5 rounded-lg hover:bg-brand-dark hover:shadow-lg transform active:scale-95 transition-all duration-200"
    >
      Iniciar Sesión
    </button>
  </form>
</div>
