---
import EventCalendar from '@/components/EventCalendar';
import '@/styles/global.css';

const events = [
  {
    calendarid: '_190219_1',
    title: '05: Módulos 15-17',
    start: '2026-01-07T15:00:00Z',
    end: '2026-01-07T17:00:00Z',
    location: 'AULA 24 (2.180) AULARIO IV.',
    category: 'Course',
    subject: 'SEGURIDAD INFORMÁTICA',
    color: '#4a831c',
    description: null,
  },
  {
    calendarid: '_248702_1',
    title: 'PT-Mod-11-12',
    start: '2026-01-09T22:00:00Z',
    end: '2026-01-09T22:00:00Z',
    location: '',
    category: 'GradebookColumn',
    subject: 'SEGURIDAD INFORMÁTICA',
    color: '#4a831c',
    description: null,
  },
  {
    calendarid: '_248703_1',
    title: 'PT-Mod-13-14',
    start: '2026-01-09T22:00:00Z',
    end: '2026-01-09T22:00:00Z',
    location: '',
    category: 'GradebookColumn',
    subject: 'SEGURIDAD INFORMÁTICA',
    color: '#4a831c',
    description: null,
  },
  {
    calendarid: '_248709_1',
    title: 'Ex-Mod-11-12',
    start: '2026-01-09T22:00:00Z',
    end: '2026-01-09T22:00:00Z',
    location: '',
    category: 'GradebookColumn',
    subject: 'SEGURIDAD INFORMÁTICA',
    color: '#4a831c',
    description: null,
  },
  {
    calendarid: '_248710_1',
    title: 'Ex-Mod-13-14',
    start: '2026-01-09T22:00:00Z',
    end: '2026-01-09T22:00:00Z',
    location: '',
    category: 'GradebookColumn',
    subject: 'SEGURIDAD INFORMÁTICA',
    color: '#4a831c',
    description: null,
  },
  {
    calendarid: '_190220_1',
    title: '06: Módulos 18-19.',
    start: '2026-01-13T15:00:00Z',
    end: '2026-01-13T17:00:00Z',
    location: 'AULA 24 (2.180) AULARIO IV.',
    category: 'Course',
    subject: 'SEGURIDAD INFORMÁTICA',
    color: '#4a831c',
    description: null,
  },
  {
    calendarid: '_248711_1',
    title: 'Ex-Mod15-17',
    start: '2026-01-13T22:00:00Z',
    end: '2026-01-13T22:00:00Z',
    location: '',
    category: 'GradebookColumn',
    subject: 'SEGURIDAD INFORMÁTICA',
    color: '#4a831c',
    description: null,
  },
  {
    calendarid: '_190221_1',
    title: '07: Módulos 20-22.',
    start: '2026-01-15T15:00:00Z',
    end: '2026-01-15T17:00:00Z',
    location: 'AULA 24 (2.180) AULARIO IV.',
    category: 'Course',
    subject: 'SEGURIDAD INFORMÁTICA',
    color: '#4a831c',
    description: null,
  },
  {
    calendarid: '_248704_1',
    title: 'PT-Mod-18-19',
    start: '2026-01-16T22:00:00Z',
    end: '2026-01-16T22:00:00Z',
    location: '',
    category: 'GradebookColumn',
    subject: 'SEGURIDAD INFORMÁTICA',
    color: '#4a831c',
    description: null,
  },
  {
    calendarid: '_248712_1',
    title: 'Ex-Mod-18-19',
    start: '2026-01-16T22:00:00Z',
    end: '2026-01-16T22:00:00Z',
    location: '',
    category: 'GradebookColumn',
    subject: 'SEGURIDAD INFORMÁTICA',
    color: '#4a831c',
    description: null,
  },
  {
    calendarid: '_190222_1',
    title: 'Presentaciones',
    start: '2026-01-21T15:00:00Z',
    end: '2026-01-21T17:00:00Z',
    location: 'AULA 24 (2.180) AULARIO IV.',
    category: 'Course',
    subject: 'SEGURIDAD INFORMÁTICA',
    color: '#4a831c',
    description: null,
  },
  {
    calendarid: '_248713_1',
    title: 'Actividad presentación',
    start: '2026-01-22T11:00:00Z',
    end: '2026-01-22T11:00:00Z',
    location: '',
    category: 'GradebookColumn',
    subject: 'SEGURIDAD INFORMÁTICA',
    color: '#4a831c',
    description: null,
  },
  {
    calendarid: '_248705_1',
    title: 'PT-Mod-22-22',
    start: '2026-01-22T22:00:00Z',
    end: '2026-01-22T22:00:00Z',
    location: '',
    category: 'GradebookColumn',
    subject: 'SEGURIDAD INFORMÁTICA',
    color: '#4a831c',
    description: null,
  },
  {
    calendarid: '_248714_1',
    title: 'Ex-Mod-20-22',
    start: '2026-01-22T22:00:00Z',
    end: '2026-01-22T22:00:00Z',
    location: '',
    category: 'GradebookColumn',
    subject: 'SEGURIDAD INFORMÁTICA',
    color: '#4a831c',
    description: null,
  },
  {
    calendarid: '_241603_1',
    title:
      'Actividad: Lab 01. Creación de máquinas virtuales en entornos cloud',
    start: '2026-01-23T22:59:00Z',
    end: '2026-01-23T22:59:00Z',
    location: '',
    category: 'GradebookColumn',
    subject: 'CLOUD COMPUTING',
    color: '#d53383',
    description: null,
  },
  {
    calendarid: '_241604_1',
    title: 'Actividad. Lab 03. Despliegue mixto en modo PaaS y en modo IaaS',
    start: '2026-01-23T22:59:00Z',
    end: '2026-01-23T22:59:00Z',
    location: '',
    category: 'GradebookColumn',
    subject: 'CLOUD COMPUTING',
    color: '#d53383',
    description: null,
  },
  {
    calendarid: '_241605_1',
    title:
      'Actividad. Lab 05. Despliegue de contenedores en OpenStack-DI y en Google Cloud',
    start: '2026-01-23T22:59:00Z',
    end: '2026-01-23T22:59:00Z',
    location: '',
    category: 'GradebookColumn',
    subject: 'CLOUD COMPUTING',
    color: '#d53383',
    description: null,
  },
  {
    calendarid: '_241606_1',
    title: 'Actividad: Lab 06. Despliegue automatizado con Terraform',
    start: '2026-01-23T22:59:00Z',
    end: '2026-01-23T22:59:00Z',
    location: '',
    category: 'GradebookColumn',
    subject: 'CLOUD COMPUTING',
    color: '#d53383',
    description: null,
  },
  {
    calendarid: '_243332_1',
    title: 'Proyecto',
    start: '2026-02-02T22:59:00Z',
    end: '2026-02-02T22:59:00Z',
    location: '',
    category: 'GradebookColumn',
    subject: 'INTEGRACIÓN DE TECNOLOGÍAS Y SERVICIOS INFORMÁTICOS',
    color: '#b06216',
    description: null,
  },
  {
    calendarid: '_240987_1',
    title: 'Convocatoria extraordinaria',
    start: '2026-02-02T22:59:00Z',
    end: '2026-02-02T22:59:00Z',
    location: '',
    category: 'GradebookColumn',
    subject: 'SISTEMAS ROBOTIZADOS',
    color: '#1a78d3',
    description: null,
  },
  {
    calendarid: '_190223_1',
    title: 'Examen final',
    start: '2026-02-05T15:00:00Z',
    end: '2026-02-05T17:00:00Z',
    location: 'AULA 08 AULARIO V - INFORMATICA',
    category: 'Course',
    subject: 'SEGURIDAD INFORMÁTICA',
    color: '#4a831c',
    description: null,
  },
  {
    calendarid: '_250496_1',
    title: 'Tarea: Implementación de un (o varios) módulo(s) para VCF',
    start: '2026-02-05T17:00:00Z',
    end: '2026-02-05T17:00:00Z',
    location: '',
    category: 'GradebookColumn',
    subject: 'SISTEMAS MULTIMEDIA',
    color: '#0c808b',
    description: null,
  },
  {
    calendarid: '_243333_1',
    title: 'Prácticas y proyecto (extraordinaria)',
    start: '2026-02-16T22:59:00Z',
    end: '2026-02-16T22:59:00Z',
    location: '',
    category: 'GradebookColumn',
    subject: 'INTEGRACIÓN DE TECNOLOGÍAS Y SERVICIOS INFORMÁTICOS',
    color: '#b06216',
    description: null,
  },
  {
    calendarid: '_190224_1',
    title: 'Extra. final Exam',
    start: '2026-02-19T15:00:00Z',
    end: '2026-02-19T17:00:00Z',
    location: 'AULA 08 AULARIO V - INFORMATICA',
    category: 'Course',
    subject: 'SEGURIDAD INFORMÁTICA',
    color: '#4a831c',
    description: null,
  },
  {
    calendarid: '_248715_1',
    title: 'Final exam',
    start: '2026-02-20T22:00:00Z',
    end: '2026-02-20T22:00:00Z',
    location: '',
    category: 'GradebookColumn',
    subject: 'SEGURIDAD INFORMÁTICA',
    color: '#4a831c',
    description: null,
  },
  {
    calendarid: '_191578_1',
    title: 'Nuevo evento 6/1/26',
    start: '2026-02-25T15:00:00Z',
    end: '2026-02-25T17:00:00Z',
    location:
      'LABORATORIO ANÁLISIS Y DISEÑO DE SOFTWARE (1.101) CITE III INFORMATICA-MATEMAT.',
    category: 'Course',
    subject: 'PROGRAMACIÓN NATIVA EN DISPOSITIVOS MÓVILES',
    color: '#687e34',
    description: 'Sesión presencial',
  },
  {
    calendarid: '_241608_1',
    title: 'Foro de debate "Cloud vs Edge Computing"',
    start: '2026-02-26T22:59:06Z',
    end: '2026-02-26T22:59:06Z',
    location: '',
    category: 'GradebookColumn',
    subject: 'CLOUD COMPUTING',
    color: '#d53383',
    description: null,
  },
  {
    calendarid: '_241610_1',
    title: 'Foro de debate general de la asignatura',
    start: '2026-02-26T22:59:07Z',
    end: '2026-02-26T22:59:07Z',
    location: '',
    category: 'GradebookColumn',
    subject: 'CLOUD COMPUTING',
    color: '#d53383',
    description: null,
  },
  {
    calendarid: '_241609_1',
    title: 'Foro de debate: Ventajas y Desafíos de Cloud Computing',
    start: '2026-02-26T22:59:58Z',
    end: '2026-02-26T22:59:58Z',
    location: '',
    category: 'GradebookColumn',
    subject: 'CLOUD COMPUTING',
    color: '#d53383',
    description: null,
  },
  {
    calendarid: '_191586_1',
    title: 'Sesión Trabajo en Casa',
    start: '2026-02-27T15:00:00Z',
    end: '2026-02-27T17:00:00Z',
    location: 'Trabajo autónomo',
    category: 'Course',
    subject: 'PROGRAMACIÓN NATIVA EN DISPOSITIVOS MÓVILES',
    color: '#687e34',
    description: 'Sesión virtual',
  },
  {
    calendarid: '_191579_1',
    title: 'Nuevo evento 6/1/26',
    start: '2026-03-04T15:00:00Z',
    end: '2026-03-04T17:00:00Z',
    location:
      'LABORATORIO ANÁLISIS Y DISEÑO DE SOFTWARE (1.101) CITE III INFORMATICA-MATEMAT.',
    category: 'Course',
    subject: 'PROGRAMACIÓN NATIVA EN DISPOSITIVOS MÓVILES',
    color: '#687e34',
    description: 'Sesión presencial',
  },
  {
    calendarid: '_191587_1',
    title: 'Sesión Trabajo en Casa',
    start: '2026-03-06T15:00:00Z',
    end: '2026-03-06T17:00:00Z',
    location: 'Trabajo autónomo',
    category: 'Course',
    subject: 'PROGRAMACIÓN NATIVA EN DISPOSITIVOS MÓVILES',
    color: '#687e34',
    description: 'Sesión virtual',
  },
  {
    calendarid: '_191580_1',
    title: 'Nuevo evento 6/1/26',
    start: '2026-03-11T15:00:00Z',
    end: '2026-03-11T17:00:00Z',
    location:
      'LABORATORIO ANÁLISIS Y DISEÑO DE SOFTWARE (1.101) CITE III INFORMATICA-MATEMAT.',
    category: 'Course',
    subject: 'PROGRAMACIÓN NATIVA EN DISPOSITIVOS MÓVILES',
    color: '#687e34',
    description: 'Sesión presencial',
  },
  {
    calendarid: '_191588_1',
    title: 'Sesión Trabajo en Casa',
    start: '2026-03-13T15:00:00Z',
    end: '2026-03-13T17:00:00Z',
    location: 'Trabajo autónomo',
    category: 'Course',
    subject: 'PROGRAMACIÓN NATIVA EN DISPOSITIVOS MÓVILES',
    color: '#687e34',
    description: 'Sesión virtual',
  },
  {
    calendarid: '_191581_1',
    title: 'Nuevo evento 6/1/26',
    start: '2026-03-18T15:00:00Z',
    end: '2026-03-18T17:00:00Z',
    location:
      'LABORATORIO ANÁLISIS Y DISEÑO DE SOFTWARE (1.101) CITE III INFORMATICA-MATEMAT.',
    category: 'Course',
    subject: 'PROGRAMACIÓN NATIVA EN DISPOSITIVOS MÓVILES',
    color: '#687e34',
    description: 'Sesión presencial',
  },
  {
    calendarid: '_191589_1',
    title: 'Sesión Trabajo en Casa',
    start: '2026-03-20T15:00:00Z',
    end: '2026-03-20T17:00:00Z',
    location: 'Trabajo autónomo',
    category: 'Course',
    subject: 'PROGRAMACIÓN NATIVA EN DISPOSITIVOS MÓVILES',
    color: '#687e34',
    description: 'Sesión virtual',
  },
  {
    calendarid: '_191582_1',
    title: 'Nuevo evento 6/1/26',
    start: '2026-03-25T15:00:00Z',
    end: '2026-03-25T17:00:00Z',
    location:
      'LABORATORIO ANÁLISIS Y DISEÑO DE SOFTWARE (1.101) CITE III INFORMATICA-MATEMAT.',
    category: 'Course',
    subject: 'PROGRAMACIÓN NATIVA EN DISPOSITIVOS MÓVILES',
    color: '#687e34',
    description: 'Sesión presencial',
  },
  {
    calendarid: '_191590_1',
    title: 'Sesión Trabajo en Casa',
    start: '2026-03-27T15:00:00Z',
    end: '2026-03-27T17:00:00Z',
    location: 'Trabajo autónomo',
    category: 'Course',
    subject: 'PROGRAMACIÓN NATIVA EN DISPOSITIVOS MÓVILES',
    color: '#687e34',
    description: 'Sesión virtual',
  },
  {
    calendarid: '_191584_1',
    title: 'Nuevo evento 6/1/26',
    start: '2026-04-08T14:00:00Z',
    end: '2026-04-08T16:00:00Z',
    location:
      'LABORATORIO ANÁLISIS Y DISEÑO DE SOFTWARE (1.101) CITE III INFORMATICA-MATEMAT.',
    category: 'Course',
    subject: 'PROGRAMACIÓN NATIVA EN DISPOSITIVOS MÓVILES',
    color: '#687e34',
    description: 'Sesión presencial',
  },
  {
    calendarid: '_191592_1',
    title: 'Sesión Trabajo en Casa',
    start: '2026-04-10T14:00:00Z',
    end: '2026-04-10T16:00:00Z',
    location: 'Trabajo autónomo',
    category: 'Course',
    subject: 'PROGRAMACIÓN NATIVA EN DISPOSITIVOS MÓVILES',
    color: '#687e34',
    description: 'Sesión virtual',
  },
  {
    calendarid: '_191585_1',
    title: 'Nuevo evento 6/1/26',
    start: '2026-04-15T14:00:00Z',
    end: '2026-04-15T16:00:00Z',
    location:
      'LABORATORIO ANÁLISIS Y DISEÑO DE SOFTWARE (1.101) CITE III INFORMATICA-MATEMAT.',
    category: 'Course',
    subject: 'PROGRAMACIÓN NATIVA EN DISPOSITIVOS MÓVILES',
    color: '#687e34',
    description: 'Sesión presencial',
  },
  {
    calendarid: '_191593_1',
    title: 'Sesión Trabajo en Casa',
    start: '2026-04-17T14:00:00Z',
    end: '2026-04-17T16:00:00Z',
    location: 'Trabajo autónomo',
    category: 'Course',
    subject: 'PROGRAMACIÓN NATIVA EN DISPOSITIVOS MÓVILES',
    color: '#687e34',
    description: 'Sesión virtual',
  },
  {
    calendarid: '_191583_1',
    title: 'Nuevo evento 6/1/26',
    start: '2026-04-22T14:00:00Z',
    end: '2026-04-22T16:00:00Z',
    location:
      'LABORATORIO ANÁLISIS Y DISEÑO DE SOFTWARE (1.101) CITE III INFORMATICA-MATEMAT.',
    category: 'Course',
    subject: 'PROGRAMACIÓN NATIVA EN DISPOSITIVOS MÓVILES',
    color: '#687e34',
    description: 'Sesión presencial',
  },
];
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Calendario Académico</title>
  </head>
  <body class="h-screen w-screen bg-background text-foreground overflow-auto">
    <main class="h-full w-full p-6 flex flex-col items-center">
      <h1 class="text-3xl font-bold mb-4 text-brand-dark">
        Calendario Académico
      </h1>
      <div
        class="flex-1 w-full border rounded-lg shadow-sm bg-card overflow-auto"
      >
        <EventCalendar client:load events={events} />
      </div>
    </main>
  </body>
</html>
