---
import EventCalendar from '@/components/EventCalendar';
import AppLayout from '@/layouts/AppLayout.astro';
import type { CalendarItemDto } from '@/lib/api';
import { createApiClient } from '@/lib/apiClient';

const sessionToken = Astro.locals.sessionToken;
if (!sessionToken) return Astro.redirect('/login');

const api = createApiClient(sessionToken);

let events: CalendarItemDto[] = [];

try {
  const { data } = await api.api.calendarList({
    currentDate: new Date().toISOString(),
  });

  if (data) {
    events = data;
  }
} catch (error) {
  console.error('Error validating session:', error);
}
---

<AppLayout>
  <div class="flex-1 w-full border rounded-lg shadow-sm bg-card overflow-auto">
    <EventCalendar client:load events={events} />
  </div>
</AppLayout>
