name: Docker Image CI & Deploy

on:
  workflow_run:
    workflows: ["PR Frontend Checks"]
    types:
      - completed
    branches: ["main"]
      
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Generate Tag
        id: meta
        run: |
          echo "SHORT_SHA=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push production image
        uses: docker/build-push-action@v6
        with:
          context: frontend
          file: frontend/Dockerfile.prod
          push: true
          cache-from: type=gha 
          cache-to: type=gha,mode=max
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKERHUB_FRONTEND_NAME }}:latest
            ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKERHUB_FRONTEND_NAME }}:${{ steps.meta.outputs.SHORT_SHA }}

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Container App
        uses: azure/container-apps-deploy-action@v1
        with:
          imageToDeploy: ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKERHUB_FRONTEND_NAME }}:${{ steps.meta.outputs.SHORT_SHA }}
          containerAppName: micuatri-app 
          resourceGroup: mi-cuatri-rg